<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<div>
    <div>
    <h1>Bienvenue sur BlaBlaD0c</h1>
    <h2>connextion (accès médecin)</h2>
    <h3>le site référence de gestion des patients pour les médecins</h3>
    </div> 
    <div>
        <h1>connection</h1>
    </div>
   

    <div>
        <h2>avis de quelques médecins</h2>
    </div>

</div>


</body>
</html>